nhl-goal-flow.json
[
    {
        "id": "66da163b.61ab68",
        "type": "server-events",
        "z": "de8bfe3.4ac5e",
        "name": "NHL",
        "server": "cacdccbf.2b6e9",
        "event_type": "nhl_goal",
        "x": 70,
        "y": 520,
        "wires": [
            [
                "db76f3f8.09eec"
            ]
        ]
    },
    {
        "id": "db76f3f8.09eec",
        "type": "change",
        "z": "de8bfe3.4ac5e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "team_horn",
                "pt": "flow",
                "to": "$string(msg.payload.event.team_id)\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 520,
        "wires": [
            [
                "a823844.8b42978"
            ]
        ]
    },
    {
        "id": "a823844.8b42978",
        "type": "api-current-state",
        "z": "de8bfe3.4ac5e",
        "name": "Goal Horn Status",
        "server": "cacdccbf.2b6e9",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "input_boolean.goal_horn",
        "state_type": "str",
        "state_location": "",
        "override_payload": "none",
        "entity_location": "",
        "override_data": "none",
        "blockInputOverrides": false,
        "x": 470,
        "y": 520,
        "wires": [
            [
                "c414b5e6.b2ebd8"
            ],
            []
        ]
    },
    {
        "id": "a19365d7.abb198",
        "type": "inject",
        "z": "de8bfe3.4ac5e",
        "name": "test",
        "props": [
            {
                "p": "payload.event.team_id",
                "v": "14",
                "vt": "num"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 80,
        "y": 600,
        "wires": [
            [
                "db76f3f8.09eec"
            ]
        ]
    },
    {
        "id": "c414b5e6.b2ebd8",
        "type": "delay",
        "z": "de8bfe3.4ac5e",
        "name": "",
        "pauseType": "delay",
        "timeout": "7",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 662,
        "y": 520,
        "wires": [
            [
                "c5fe70c1.8f833",
                "adee6dbb.823ad"
            ]
        ]
    },
    {
        "id": "c5fe70c1.8f833",
        "type": "api-call-service",
        "z": "de8bfe3.4ac5e",
        "name": "Goal Light On",
        "server": "cacdccbf.2b6e9",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_on",
        "entityId": "switch.extra1",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 874,
        "y": 480,
        "wires": [
            [
                "dd72e229.52927"
            ]
        ]
    },
    {
        "id": "adee6dbb.823ad",
        "type": "api-call-service",
        "z": "de8bfe3.4ac5e",
        "name": "Goal Horn",
        "server": "cacdccbf.2b6e9",
        "version": 1,
        "debugenabled": false,
        "service_domain": "media_player",
        "service": "play_media",
        "entityId": "media_player.media_room_speaker",
        "data": "{\"media_content_type\":\"audio/mp3\",\"media_content_id\":\"https://fm3yl0om31wfd6yzocxjl9ezm7t6evbg.ui.nabu.casa/local/audio/goalhorns/{{flow.team_horn}}.mp3\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 864,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "dd72e229.52927",
        "type": "delay",
        "z": "de8bfe3.4ac5e",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1058,
        "y": 480,
        "wires": [
            [
                "20369e00.114212"
            ]
        ]
    },
    {
        "id": "20369e00.114212",
        "type": "api-call-service",
        "z": "de8bfe3.4ac5e",
        "name": "Goal Light Off",
        "server": "cacdccbf.2b6e9",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_off",
        "entityId": "switch.extra1",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1242,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "c9d1329f.7ff31",
        "type": "comment",
        "z": "de8bfe3.4ac5e",
        "name": "Hockey Goal",
        "info": "",
        "x": 90,
        "y": 460,
        "wires": []
    },
    {
        "id": "cacdccbf.2b6e9",
        "type": "server",
        "name": "Home Assistant",
        "legacy": false,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true
    }
]